[submodule "beaker"]
	path = beaker
	url = https://github.com/bbangert/beaker
[submodule "closure-library"]
	path = closure-library
	url = https://code.google.com/p/closure-library
[submodule "pycrypto"]
	path = pycrypto
	url = https://github.com/dlitz/pycrypto
[submodule "blueprint-css"]
	path = blueprint-css
	url = https://github.com/joshuaclayton/blueprint-css
[submodule "tools/inlinestyler"]
	path = tools/inlinestyler
	url = https://github.com/dlanger/inlinestyler.git
