body {
  background-color: #A2B3B3;
}
html, body {
  height: 100%;
  width: 100%;
}
a:link,
a:visited {
  color: #00867F;
  text-decoration: none;
}
a:hover,
a:active {
  color: #00867F;
  text-decoration: underline;
}

.content-wrapper {
  display: block;
  position: absolute;
  top: 0;
  bottom: 30px;
  width: 100%;
}

.bits-chatbox-container {
  display: block;
  width: 700px;
  height: 100%;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  margin: 0 auto;
}

.bits-chatbox,
.bits-post-container,
.bits-chat-input {
  color: #000;
  background-color: #fff;
}
