.bits-chatbox-container {
  position: relative;
  overflow: hidden;
}

.bits-chatbox {
  padding: 0;
  margin: 0;
  border: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.bits-chatbox-posts {
  position: absolute;
  left: 0;
  right: 0;
  top: 2px;
  bottom: 90px;
}
.bits-chatbox-posts .bits-posts-scrollable {
  height: 100%;
}

.bits-chat-input {
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  margin: 0;
  overflow: hidden;  /* Don't show a scrollbar */
  resize: none;  /* Disable webkit textarea resize control */
  outline: none;  /* Remove focus ring */
  font-family: Menlo, Monaco, Andale Mono, monospace, sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 86px;
}
.bits-chat-input,
.bits-chat-input:focus {
  border-top: 1px solid #555;
}
.bits-chat-input::-webkit-input-placeholder {
  color: #888;
}
.bits-chat-input:-moz-placeholder {
  color: #888;
}
