body.bits-page-chatroom {
  height: 100%;
  width: 100%;
  background-color: #eee;
}
a.bits-chatroom-link {
  word-wrap: break-word;
  word-break: break-all;
}
a.bits-chatroom-link:link,
a.bits-chatroom-link:visited,
a.bits-chatroom-link:hover,
a.bits-chatroom-link:active {
  color: #555;
  text-decoration: underline;
}

.content-wrapper {
  display: block;
  position: absolute;
  top: 0;
  bottom: 30px;
  width: 100%;
}

.bits-chatbox-container {
  display: block;
  width: 700px;
  height: 100%;
  border: 0;
  margin: 0 auto;
}

.bits-chatbox,
.bits-post-container,
.bits-chat-input {
  color: #000;
  background-color: #eee;
}


@media (max-width: 799px) {
  .bits-chatbox-container {
    width: 100%;
  }
}
