/* goog.ui.Dialog styling */
.modal-dialog {
  background: #fff;
  border: 0;
  color: #000;
  padding: 3px;
  position: absolute;
  border-radius: 3px;
  z-index: 100;
  font-size: 13px;
}
.modal-dialog input[type="text"] {
  font-family: Menlo, Monaco, Andale Mono, monospace, sans-serif;
  max-width: 325px;
  font-size: 16px;
}
.modal-dialog-bg {
  left: 0;
  position: absolute;
  top: 0;
  background: #666;
  /* From http://www.colorzilla.com/gradient-editor/ */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(214,214,214,1) 0%, rgba(54,54,54,0.9) 75%, rgba(0,0,0,0.9) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(214,214,214,1)), color-stop(75%,rgba(54,54,54,0.9)), color-stop(100%,rgba(0,0,0,0.9))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(214,214,214,1) 0%,rgba(54,54,54,0.9) 75%,rgba(0,0,0,0.9) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(214,214,214,1) 0%,rgba(54,54,54,0.9) 75%,rgba(0,0,0,0.9) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(214,214,214,1) 0%,rgba(54,54,54,0.9) 75%,rgba(0,0,0,0.9) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(214,214,214,1) 0%,rgba(54,54,54,0.9) 75%,rgba(0,0,0,0.9) 100%); /* W3C */
}
.modal-dialog-buttons,
.modal-dialog-content {
  padding: 8px;
}
.modal-dialog-buttons button,
.fancy-button {
  display: inline-block;
  padding: 6px;
  border: 1px solid rgba(80, 80, 80, 0.5);
  background-color: #e3e3e3;
  background-image: -webkit-gradient(
      linear, 0% 40%, 0% 70%, from(#f9f9f9), to(#e3e3e3));
  background-image: -moz-linear-gradient(
        top, #f9f9f9 40%, #e3e3e3 70%);
  cursor: pointer;
  border-radius: 3px;
  margin-right: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #000;
}
.modal-dialog-buttons button:hover,
.fancy-button:hover {
  background-color: #dcdcdc;
  background-image: -webkit-gradient(
      linear, 0% 40%, 0% 70%, from(#f0f0f0), to(#dcdcdc));
  background-image: -moz-linear-gradient(
        top, #f0f0f0 40%, #dcdcdc 70%);
  text-decoration: none;
  color: #000;
}
.modal-dialog-buttons button:active,
.fancy-button:active {
  background-image: -webkit-gradient(
      linear, 0% 40%, 0% 70%, from(#dcdcdc), to(#f0f0f0));
  background-image: -moz-linear-gradient(
        top, #dcdcdc 40%, #f0f0f0 70%);
  text-decoration: none;
  color: #000;
}
