/* goog.ui.Dialog styling */
.modal-dialog {
  background: #ccc;
  border: 0;
  color: #000;
  padding: 3px;
  position: absolute;
  border-radius: 3px;
  z-index: 100;
}
.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
}
.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}
.modal-dialog-buttons button {
  display: inline-block;
  padding: 6px;
  border: 1px solid rgba(80, 80, 80, 0.5);
  background-color: #e3e3e3;
  background-image: -webkit-gradient(
      linear, 0% 40%, 0% 70%, from(#f9f9f9), to(#e3e3e3));
  background-image: -moz-linear-gradient(
        top, #f9f9f9 40%, #e3e3e3 70%);
  cursor: pointer;
  border-radius: 3px;
  margin-right: 20px;
  font-size: 16px;
}
.modal-dialog-buttons button:hover {
  background-color: #dcdcdc;
  background-image: -webkit-gradient(
      linear, 0% 40%, 0% 70%, from(#f0f0f0), to(#dcdcdc));
  background-image: -moz-linear-gradient(
        top, #f0f0f0 40%, #dcdcdc 70%);
}
.modal-dialog-buttons button:active {
  background-image: -webkit-gradient(
      linear, 0% 40%, 0% 70%, from(#dcdcdc), to(#f0f0f0));
  background-image: -moz-linear-gradient(
        top, #dcdcdc 40%, #f0f0f0 70%);
}
