/* goog.ui.Dialog styling */
.modal-dialog {
  background: #A2B3B3;
  border: 1px solid #555;
  color: #000;
  padding: 3px;
  position: absolute;
  border-radius: 3px;
  z-index: 100;
}
.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
}
.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}
.modal-dialog-buttons button {
  font-size: 16px;
  margin-right: 20px;
}
