.bits-footer-bar {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  height: 29px;
  line-height: 29px;
  vertical-align: baseline;
}

.bits-footer-settings-left,
.bits-footer-settings-right {
  position: absolute;
  top: 0;
  line-height: 29px;
  height: 29px;
  padding: 0 8px;
}

.bits-footer-settings-left {
  left: 0;
}
.bits-footer-settings-right {
  right: 0;
}

.bits-footer-settings-left .bits-setting-link {
  margin-right: 6px;
}
.bits-footer-settings-right .bits-setting-link {
  margin-left: 6px;
}

.footer-logo {
  padding: 2px 0;
}

.bits-footer-bar a:link,
.bits-footer-bar a:visited,
.bits-footer-bar a:hover,
.bits-footer-bar a:active {
  color: #555;
  text-decoration: none;
}

@media (max-width: 799px) {
  .footer-logo-link {
    position: relative;
    bottom: 25px;
    pointer-events: none;
    opacity: 0.1;
  }
}
