.bits-footer-bar {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #ccc;
  height: 29px;
  background-color: #eee;
  line-height: 29px;
  vertical-align: middle;
}

.bits-footer-settings,
.bits-footer-help {
  position: absolute;
  top: 0;
  line-height: 29px;
  height: 29px;
  padding: 0 8px;
}

.bits-footer-settings {
  left: 0;
}

.bits-footer-help {
  right: 0;
}

.footer-logo {
  padding: 2px 0;
}