html,
body {
  height: 100%;
  width: 100%;
  background-color: #555;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
}

.landing-wrapper {
  background-color: #ccc;
}

.landing-message {
  width: 400px;
  min-height: 450px;
  padding: 0 0 50px 0;
}

.landing-image {
  display: block;
  margin: 0 auto;
  padding: 50px 0 30px 0;
}

.landing-button-container {
  text-align: center;
  padding-top: 50px;
}

.landing-create-image-c {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid rgba(80, 80, 80, 0.5);
  background-color: #e3e3e3;
  background-image: -webkit-gradient(
      linear, 0% 40%, 0% 70%, from(#f9f9f9), to(#e3e3e3));
  background-image: -moz-linear-gradient(
        top, #f9f9f9 40%, #e3e3e3 70%);
  cursor: pointer;
  border-radius: 20px;
}
.landing-create-image-c:hover {
  background-color: #dcdcdc;
  background-image: -webkit-gradient(
      linear, 0% 40%, 0% 70%, from(#f0f0f0), to(#dcdcdc));
  background-image: -moz-linear-gradient(
        top, #f0f0f0 40%, #dcdcdc 70%);
}
.landing-create-image {
  padding: 0;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}

.landing-footer {
  height: 200px;
  width: 100%;
}

.landing-footer-message {
  margin: 0 auto;
  padding: 0 10px 50px 10px;
}
a:link,
a:visited,
a:active,
a:hover {
  color: #bbb;
  text-decoration: none;
}
.landing-footer-message a {
  margin-left: 8px;
  font-size: 12px;
  line-height: 12px;
}