.goog-slider-vertical {
  overflow: hidden;
  outline: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  border-radius: 5px;
  opacity: 0;
  background-color: #ccc;
  -webkit-transition: opacity .3s ease-out;
  -moz-transition: opacity .3s ease-out;
}
.goog-slider-thumb {
  outline: 0;
  position: absolute;
  background-color: #555;
  border: 1px solid #000;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.goog-slider-vertical .goog-slider-thumb {
  left: 0;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-transition: opacity .4s ease-out;
  -moz-transition: opacity .4s ease-out;
  opacity: 0;
}
.goog-slider-vertical:hover .goog-slider-thumb,
.active .goog-slider-thumb,
.goog-slider-vertical.active,
.goog-slider-vertical:hover {
  opacity: 0.5;
}
