/* SettingsDialog. */
#settings-dialog {
  max-width: 350px;
}
#settings-terms {
  display: none;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
#welcome-text {
  display: none;
}
.bits-first-time .settings-section {
  margin-top: 15px;
}


.settings-section a:link,
.settings-section a:visited,
.settings-section a:active,
.settings-section a:hover {
  color: #000;
}

.settings-option {
  padding-bottom: 0.5em;
}

.bits-first-time #settings-terms,
.bits-first-time #welcome-text,
.bits-first-time .tutorial-step {
  display: block;
}

.welcome-title {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.welcome-detail {
  margin-top: 0.5em;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.modal-dialog.bits-first-time {
  background-image: url(../tutorial.png);
  background-repeat: no-repeat;
  background-position: 90px -30px;
}
