/* SettingsDialog. */
#settings-dialog {
  max-width: 350px;
}
#settings-dialog input[type="text"] {
  font-family: Menlo, Monaco, Andale Mono, monospace, sans-serif;
  max-width: 325px;
}
#settings-terms {
  margin-top: 15px;
}
