.bits-topic {
  height: 75px;
  background-color: #fff;
}
.bits-topic + .bits-topic {
  border-top: 1px solid #ccc;
}
.bits-topic-selected {
  border-bottom: 1px solid #ccc;
}
.bits-topic-title-c {
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
}
.bits-topic.goog-control-hover {
  background-color: #eee;
}
.bits-topic-description {
  width: 650px;
  height: 40px;
  line-height: 15px;
  vertical-align: top;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: wrap;
}

.bits-topic-menu {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Menlo, Monaco, Andale Mono, monospace, sans-serif;
  font-size: 12px;
  outline: none;
}
.bits-topic-menu-dropdown {
  height: 100%;
}

.bits-topic-prompt {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2px;
  background-color: #eee;
  z-index: 1;
}
.bits-topic-prompt.active {
  display: block;
}

.bits-topic-prompt-wrapper {
  width: 70%;
  margin: 50px auto 0 auto;
  position: relative;
}

.bits-topic-prompt-title {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.bits-topic-prompt-close {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  width: 18px;
  height: 18px;
  cursor: pointer;
  text-align: center;
  vertical-align: center;
  line-height: 16px;
  border-radius: 8px;
  color: #ccc;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: -18px;
  right: -18px;
}
.bits-topic-prompt-close:hover {
  background-color: #ccc;
  color: #eee;
}
.bits-topic-prompt-close:active {
  background-color: #ccc;
  color: #888;
}

.bits-topic-prompt-link {
  font-family: Menlo, Monaco, Andale Mono, monospace, sans-serif;
  font-size: 12px;
  margin: 15px 0;
  display: block;
  word-wrap: break-word;
  word-break: break-all;
}
.bits-topic-prompt-link:link,
.bits-topic-prompt-link:visited,
.bits-topic-prompt-link:active,
.bits-topic-prompt-link:hover {
  color: #000;
}

.bits-topic-prompt-helptext {
  margin: 15px 0;
}


.bits-topic-prompt-summary {
  border: 0;
  display: block;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  overflow: hidden;  /* Don't show a scrollbar */
  resize: none;  /* Disable webkit textarea resize control */
  outline: none;  /* Remove focus ring */
  font-family: Menlo, Monaco, Andale Mono, monospace, sans-serif;
  font-size: 12px;
  height: 120px;
  background-color: #eee;
}
.bits-topic-prompt-summary,
.bits-topic-prompt-summary:focus {
  border-top: 1px solid #555;
}
.bits-topic-prompt-summary::-webkit-input-placeholder {
  color: #888;
}
.bits-topic-prompt-summary:-moz-placeholder {
  color: #888;
}

@media (max-width: 799px) {
  .bits-topic-prompt-close {
    top: 0;
    right: 0;
  }
  .bits-topic-prompt-wrapper {
    padding: 0 10px;
    margin: 0;
    width: 95%;
    position: relative;
  }
  .bits-topic-prompt {
    max-height: 100%;
    overflow-y: auto;
  }
  .bits-topic-prompt-summary {
    height: 46px;
  }
}
