.bits-topic {
  height: 75px;
  background-color: #fff;
}
.bits-topic + .bits-topic {
  border-top: 1px solid #ccc;
}
.bits-topic-selected {
  border-bottom: 1px solid #ccc;
}
.bits-topic-title-c {
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
}
.bits-topic.goog-control-hover {
  background-color: #eee;
}
.bits-topic-description {
  width: 650px;
  height: 40px;
  line-height: 15px;
  vertical-align: top;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  white-space: wrap;
}

.bits-topic-menu {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Menlo, Monaco, Andale Mono, monospace, sans-serif;
  font-size: 12px;
  outline: none;
}
.bits-topic-menu-dropdown {
  height: 100%;
}

.bits-topic-prompt {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 2px;
  background-color: #eee;
  z-index: 1;
}
.bits-topic-prompt.active {
  display: block;
}
