{% extends "base.html" %}

{% block additional_css %}

<link rel="stylesheet" href="/static/css/posts.css">
<link rel="stylesheet" href="/static/css/chatbox.css">
<link rel="stylesheet" href="/static/css/chatroom.css">
<link rel="stylesheet" href="/static/css/settings.css">

{% endblock additional_css %}


{% block additional_js %}

<script src='/_ah/channel/jsapi'></script>

{% if js_mode == 'raw' %}
  <script type="text/javascript" src="/js/closure/goog/base.js"></script>
  <script type="text/javascript" src="/js/bits/deps.js"></script>
  <script type="text/javascript">
    goog.require('bits.startup');
  </script>
{% else %}
  <script type="text/javascript" src="/static/compiled.js"></script>
{% endif %}

{% endblock additional_js %}


{% block body %}

<div class="content-wrapper">

  <div class="bits-chatbox-container">
    <div id="chatbox" class="bits-chatbox">
      <div class="goog-splitpane-first-container">
        <div class="bits-post-container"></div>
      </div>
      <div class="goog-splitpane-second-container">
        <textarea class="bits-chat-input"></textarea>
      </div>
      <div class="goog-splitpane-handle"></div>
    </div>
  </div>

</div>

<div class="bits-footer-bar">
  <div class="bits-footer-settings">
    Nickname: <span id="nickname-display">Anonymous</span>
    <a href="javascript:void(0)" id="nickname-change" class="small">edit</a>
  </div>
  <div class="bits-footer-help">
    <a href="/about" target="_blank">about</a>
    <a href="/" target="_blank">home</a>
  </div>
</div>

<div class="bits-dialog" id="settings-dialog">
  <form class="">
    <label for="setting-nickname" class="large">Nickname:</label>
    <br>
    <input type="text" name="nickname"
        id="setting-nickname" class="title" value="{{nickname}}">
  </form>
</div>

<script>
  bits.startup('{{shard_id}}', '{{nickname}}');
</script>

{% endblock body %}
