{% extends "base.html" %}

{% block additional_meta %}

<title>8-bits of ephemera</title>
<meta name="description" content="Create a private stream with close friends. Each post is auto-deleted after ten days, fading like memories.">
<meta property="og:image"
    content="{{host_url}}/static/{{cache_buster}}/logo.png">
{% endblock additional_meta %}


{% block additional_css %}

<link rel="stylesheet" href="/static/{{cache_buster}}/css/landing.css">

{% endblock additional_css %}


{% block additional_js %}

{% if js_mode == 'raw' %}
  <script type="text/javascript" src="/js/closure/goog/base.js"></script>
  <script type="text/javascript" src="/js/bits/deps.js"></script>
  <script type="text/javascript">
    goog.require('bits.landing');
  </script>
{% else %}
  <script type="text/javascript"
      src="/static/{{cache_buster}}/compiled.js"></script>
{% endif %}

{% endblock additional_js %}


{% block body %}

<div class="landing-wrapper">
  <div class="landing-message container">
    <img class="landing-image clear" src="/static/{{cache_buster}}/logo.png"
        width="300" height="78" alt="8-bits of ephemera">

    <div class="prepend-2 append-2">
      Create a private stream with close friends. Only people who get the secret
      link from you can join it. Share silly websites, images, and stories. Be
      serious when you need to. It's like chat, but you can catch up on what
      you've missed. Each post is auto-deleted after ten days, fading like
      memories.
    </div>

    <div class="landing-button-container clear">
      <form action="/create" method="post" id="create-form">
        <div class="landing-create-image-c">
          <img class="landing-create-image" width="250" height="43"
              title="Create your own" alt="Create your own"
              src="/static/{{cache_buster}}/create.png">
        </div>
      </form>
    </div>
  </div>
</div>

<div class="landing-footer">
  <div class="landing-footer-message" align="right">
    <a href="https://8-bits.googlecode.com/"
        title="About 8-bits of ephemera">about</a>
    <a href="/terms" title="Terms of service">terms</a>
  </div>
</div>

<script>
  bits.landing();
</script>

{% endblock body %}
